html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* fonts */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}



body { 
  background: url("/gfx/whitenoise.png"); 
  font-family: Arial, Helvetica, sans-serif;
} 

.page { 
  margin:30px;
} 

h1 { 
  font-family: 'Luckiest Guy', arial, serif; 
  letter-spacing: 2px;
  font-size:4em;
  margin-bottom:1em;
}

.main { 
 display: box;
 box-orient: horizontal;
 display: -webkit-box;
 -webkit-box-orient: horizontal;
 display: -moz-box;
 -moz-box-orient: horizontal;
}

.main>div {
} 


/* billyfaces bar */ 
#billyfaces { 
  width:85px;

  box-flex:0;
  -webkit-box-flex:0;
  -mox-box-flex:0;
} 

#cbfs {
  width:75px;
  margin:auto auto;
} 

#saveBtn { 
  margin-top:1.5em;
  font-size:1.5em;
  width:80%;
  cursor:pointer;
} 

/* centerpane */
.centerpane { 
  position:relative;
  box-flex:1;
  -webkit-box-flex:1;
  -mox-box-flex:1;
} 

.loadUrlDiv { 
  height:60px;
} 

/*
.infooverlay { 
  position:absolute; 
  left:100px; 
  top: 100px;
  width:200px;
  height:100px;
  background: url("/gfx/blacknoise.png"); 
  border:2px solid white; 
  border-radius: 10px;
  display:none;
} 

.infooverlay>div { 
  text-align:center;
  height: 60px;
  margin:auto auto;
  font-family: 'Luckiest Guy', arial, serif; 
  letter-spacing: 2px;
  font-size:1.5em;
  color:#eee;
}
	*/ 
  

#originalUrlField {
  position:absolute; 
  left:10px; 
  right:70px; 
  
  border:1px solid black;
  border-radius: 4px;
  padding:2px;

} 

#loadOriginalBtn {
  position:absolute; 
  width:50px; 
  right:10px; 
} 



/* hepl bar */ 
.helpcontainer { 
  width:30px;

  box-flex:0;
  -webkit-box-flex:0;
  -mox-box-flex:0;
} 

.helplabel { 
  float:left;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: -10px;
  letter-spacing: 2px;
  font-size:1em;
  font-family: 'Luckiest Guy', arial, serif; 
  cursor:pointer;
} 

.help { 
  width:300px;
  display:none;
} 

.help { 
  background: url("/gfx/whitenoise.png"); 
  border:2px solid maroon;
  border-radius:10px;
  padding:10px; 

  font-size:0.8em;
} 

.help h3, .help h4 { 
  font-family: 'Luckiest Guy', arial, serif; 
  letter-spacing: 2px;
  font-size:1.2em;
}

.help h3 { 
  margin-top:1.5em;
} 
.help h4 { 
  font-size:1em;
  margin-top:0.5em;
} 



.helpbox.active { 
  position:relative; 
  left:-300px;
} 

.helpbox.active .help { 
  display:block;
} 



.footer { 
  margin: 2em -30px 0 -30px;
  padding: 20px;
  background: url("/gfx/blacknoise.png"); 
  color: white; 

  display: box;
  box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -moz-box;
  -moz-box-orient: horizontal;

} 

.footer a, .footer span { 
  color: #bada55;
} 

.footer>div { 
  box-flex:1;
  -webkit-box-flex:1;
  -mox-box-flex:1;
  width:1px;
  margin:1em;
} 

.footer p { 
  margin-bottom:1em;
}


.footer ul { 
  list-style-type: disc; 
  padding-left:1em;

} 



#canvas { 
  border: 1px solid black; 
} 


#cbfs img { 
  width:65px;
  cursor:pointer; 
} 

#cbfs img:hover { 
  background:#bada55;
  border-radius:10px;
} 

.helptext li { 
 list-style-type:disc;
} 


